@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");

}
@font-face{
	font-family: "Btitr";
	src:url(../fonts/BTITRBD.eot) format('eot'),
	url(../fonts/BTITRBD.woff) format('woff'),
	url(../fonts/BTITRBD.ttf) format('truetype');
}
body {
  direction: rtl;
  text-align: right !important;
  font-family: "Vazir" !important;
  line-height: 1.6;
  background: rgb(240, 239, 239);
}
body {
  direction: rtl;
  text-align: right !important;
  font-family: "Vazir" !important;
}
*{
  padding: 0;
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
}

.search-box{
  background: white;
  width: 100%;
  height: 45px;
  overflow: hidden;
  display: none;
}
.search-box form{
  position: relative;
}
.search-box form input{
  background: transparent;
  border: none;
  width: 98%;
  height: 30px;
  margin: 8px auto 0 auto;
  display: block;
  padding: 0 10px;
}
.search-box form button{
  position: absolute;
  top: 5px;
  left: 20px;
  background: transparent;
  border: none;
  color: #666;

}
.bg-div-top{
  background: #FFCF00;
  border-bottom:10px solid black;
}

.sar-titr{
  color: black;
  text-align: center;
  font-family:Btitr;
  font-size: 35px;
  margin-top:23px;
}
.back-container{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.1);
  z-index: 1000;
}

.responsive-menu{
  display: none;
  width: 200px;
  height: 100vh;
  background:#007bff;
  position: fixed;
  top: 0;
  right:-220px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
  z-index: 1001;
  border-radius: 10px;
  box-shadow: 5px 5px 6px 7px #3772c3;
}
.responsive-menu ul li{
  margin:10px 0;
  padding-right:10px;
}
.responsive-menu ul li a{
  text-decoration: none;
  color:black;
  font-size: 16px;
  font-weight: bold;
}
.responsive-menu ul{
  padding-right:5px;
 
}
.responsive-menu ul :hover{
  background:  #c90c0c;
  border-radius: 15px;
  
}
.fa-bars{
  color: white;
}
.menu{
  background: #9E0202 ;
  width: 100%;
  height: 45px;
  margin: 0 auto; 
  box-shadow: 0px 1px 5px 3px rgb(150, 55, 48);
}
.menu .search-button{
  float: left;
  cursor: pointer;
}
.menu .search-button i{
  font-size: 18px;
  margin: 10px 0 0 15px;
  color: white;
}
.menu .search-button i:hover{
  color: #ccc;
}
.menu ul li{
  list-style: none;
  float: right;
  position: relative;
}
.menu ul li a{
  color: white;
  text-decoration: none;
  float: right;
  padding:9.5px 23px;
  border-left: 1px solid rgb(255, 255, 255);
}
.menu ul li a:hover{
  background: rgba(197, 2, 2, 0.863);
}
.menu .responsive-menu-icon{
  float: right;
  margin-top: 4px;
  cursor: pointer;
  display: none;
}
.menu .responsive-menu-icon i{
  font-size: 30px;
}
@media(max-width:678px){
  .logo-S {
    width: 100%;
    height: 100%;
}
  .conect {
    background: #C9C930;
    border: #FFCF00;
    border-radius: 20px;
    width: 100%;
}
   .sar-titr {
    color: #000;
    text-align: center;
    font-family: Btitr;
    font-size:15px;
    margin-top: 10px;
    
}
  .menu .responsive-menu-icon{
    display: block;
    margin:5px 20px;
    color: darkred;
  }
  .menu ul{
    display: none;
  }
  
.logo-div{
  text-align: center;
}
  .logo{
    width:240px;
    height:195px;
  }
  .card-main1{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
  }
  .related{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 12px;
  }

}

.logo{
  width:230px;
  height:195px;
}
.titr{
  text-align: center;
  font-weight: bold;
  color: #000;
 
}
h6{
  font-weight: bold;
}
.main{
  height: 100%;

}
.main1{
  border: 1px solid #c3c3b1;
}
.img-news{
  width: 180px;
  height:140px;
  border-radius:20px;
  box-shadow: 4px 4px 6px #1A1A1A;
  border: 3px solid #071A38;
}
}
.col-md-8 {
  flex: 0 0 66.6667%;
  max-width: 66.6667%;
  margin-top: 103px;
}
.card-news{
  background: #1D9587;
  border-radius:15px;
  margin-left: 2px;
  border: 4px Ridge #051724;
  box-shadow: 2px 2px 5px 3px #4A5DC3;
  margin-right: 5px;

}
.news-title{
  word-wrap: break-word;
}
.title{
  font-weight: bold;
  color: rgb(2, 21, 129);
}
p.card-text{
  text-align: justify;
  font-weight: bold;
}
.arshiv:hover{
  text-decoration: none;
}
.main2{
  background: #C9C930;
  border-radius: 20px;
  border-bottom: 2px Ridge #9E0202;

}
.main2:hover{
  box-shadow: 2px 2px 5px 3px #db7b76;
}
.other_news{
  height:250px;
  width: 250px;
}
.other{
   border: 1px solid #9E0202 ;
   box-shadow: 2px 2px 5px 3px #db7b76;
   border-radius: 15px;
   background-color: white;
  
}
video{
  width:90%;
  height:200px;
  margin: auto;
  border-radius:15px ;
}
.Arshiv{
  background:  rgb(255, 255, 255);
  border-radius:15px;
  margin-top:104px;
  height:600px;
  box-shadow: 2px 2px 5px 3px rgb(150, 55, 48);
}
.bg-top{
  background: #9E0202;
  border-top-right-radius:15px ;
  border-top-left-radius:15px ;

}
.news-khabar{
  text-align: center;
  font-weight: bold;
 
  background: darkred;
  color: white;
  border-radius: 30px;
}
.scroll{
  margin-top: 10px;
  height:500px;
  overflow-y:scroll;
}

div.card img{
  width:95%;
  height:200px;
  margin: auto;
 border-radius: 25px;


}
div.card-body p{
  text-align: justify;
}
.footer{
  background:#9E0202;
}
.card {
  min-width: 0px;
  background: rgb(240, 239, 239);
  background-clip: border-box;
  border-radius: 25px;
  box-shadow: 3px 3px 7px 4px #0F1E02;
  background: #5fd153 ;
  border: 3px solid green;
}

.news-more{
  cursor: pointer;
  color: #9E0202;
}

.links{
  color: white;
}
.link{
  color: rgb(221, 214, 214);
  margin-right:90px;
  text-align: center;
  padding: 5px;
  
}
.link:hover{
  color:white;
  text-decoration: none;
}
.logo2{
  width: 40px;
  height: 40px;
  
 
 }
.arshiv{
  word-wrap: break-word;
  color: indigo;
  font-weight: bold;
}
.main00{
  height: 100%;
  border-radius:20px;
}
.main01{
  border-radius:90px;
}
.bg-color{
  color: #000;

}
.conect{
  background:#C9C930;
  border: #FFCF00;
  box-shadow: 1px 1px 4px 2px rgb(218, 185, 3);
  border-radius: 20px;
  width: 50%;
  font-weight: bold;
}
.conect:hover{
  background:#aaaa04;
}
.related{
  text-align: center;
  font-weight: inherit;
  color: white;
  
}
.logo-S{
 width: 80%;
height: 90%;
}
.more {
  font-weight: lighter;
  color: black;
}
.footer-img{
    width: 2em;
    height: 2em;
}
.linkss{
  color: #17a2b8;
}
.linkss:hover{
  text-decoration: none;
}
label{
      color: black;
}